@import 'tailwindcss';

:root {
    --color-app-bg: var(--color-slate-50);
    --color-app-surface: var(--color-white);
    --color-app-text: var(--color-slate-900);
    --color-app-border: var(--color-slate-200);
    --color-app-secondary-text: var(--color-slate-500);
    --color-app-accent: var(--teal-600);
}

.dark {
    --color-app-bg: var(--color-slate-900);
    --color-app-surface: var(--color-slate-900);
    --color-app-text: var(--color-slate-100);
    --color-app-border: var(--color-slate-700);
    --color-app-secondary-text: var(--color-slate-400);
    --color-app-accent: var(--teal-600);
}

@theme {
    --color-main-bg: var(--color-app-bg);
    --color-main-text: var(--color-app-text);
    --color-main-surface: var(--color-app-surface);
    --color-main-border: var(--color-app-border);
    --color-main-secondary-text: var(--color-app-secondary-text);
    --color-main-accent: var(--color-app-accent);
}
